@model WebModel.Login.AccountModel
@{
    ViewBag.Title = "Login";
    Layout = "~/View/Shared/_LayoutLogin.cshtml";
    var Version = ViewBag.Version;
}
<div id="modal-placeholder"></div>
<div class="login-bg-color">
    <div class="container-fluid d-flex justify-content-center align-items-center h-100">
        <div class="login-input-block p-sm-4 p-4">
            <div class="login-input m-sm-5 m-3 mb-5">
                <input id="StoreCode" class="form-control form-control h-45px mb-3"
                       type="text"
                       placeholder="門市代碼" autocomplete="new-password" />
                <input id="Account" class="form-control form-control h-45px mb-3"
                       type="text"
                       placeholder="門市帳號" autocomplete="new-password" />
                <input id="Password" class="form-control form-control h-45px mb-3"
                       type="password"
                       placeholder="門市密碼" autocomplete="new-password" />
                <div class="form-check float-end mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="pwRemember" />
                    <label class="form-check-label ft-grey1" for="pwRemember">記住我的代號及帳號</label>
                </div>

                @*            <input onclick="location.href='@Url.Action("Login","Login", new { /*routeValue*/})'" type="button" value="要在按鈕上顯示的字" />
                *@
            </div>
            <div class="login-btn mx-sm-5 mb-sm-4 m-3 mb-2">
                <button type="button" id="LoginClick" class="btn btn-primary btn-lg main-color w-100">登入</button>
            </div>

            <div class="version text-center">
                <p class="ft-grey1">@Version</p>
            </div>
        </div>
    </div>
</div>